body {
    margin: 0;
    padding: 0;
    background: black;
}

.mainmenu {
    background-color: navy;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.mainmenu button {
    margin: 25px 0px;
    height: 50px;
    width: 150px;
}

.com {
    color: green;
}

.game {
    display: flex;
    justify-content: center;
}

.unvisible {
    display: none;
}

.visible {
    display: block;
}

.board {
    box-sizing: border-box;
    margin: 40px auto;
    padding: 16px;
    border: 1px solid rgba(230, 230, 255);
    background: #000033;
    background-image: radial-gradient(rgba(230, 230, 255) 2px, transparent 2px);
    background-size: 32px 32px;
    /* background-position: -16px -16px; /* 16px + 10px marginesu + 1px błędu*/

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
}

.square {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.topDashed {
    border-top: 1px dashed rgba(230, 230, 255, 0.5);
}
.leftDashed {
    border-left: 1px dashed rgba(230, 230, 255, 0.5);
}
.rightDashed {
    border-right: 1px dashed rgba(230, 0, 255, 0.5);
}
.bottomDashed {
    border-bottom: 1px dashed rgba(230, 230, 0, 0.5);
}

.topX::before {
    content: "X";
    display: block;
    position: absolute;
    font-family: Calibiri;
    font-size: 10px;
    top: -4px;
    left: 11px;
    height: 32px;
    color: rgba(230, 230, 255);
}

.leftX::before {
    content: "X";
    display: block;
    position: absolute;
    font-family: Calibiri;
    font-size: 10px;
    top: 9px;
    left: -3px;
    height: 32px;
    color: rgba(230, 230, 255);
}

.rightX {
    border-right: 1px dashed rgba(230, 0, 255, 0.5);
}
.bottomX {
    border-bottom: 1px dashed rgba(230, 230, 0, 0.5);
}

.topSolid::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -3px;
    width: 36px;
    height: 4px;
    border-radius: 50px;
    background: rgb(30, 255, 0);
}

.leftSolid::before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -2px;
    width: 4px;
    height: 36px;
    border-radius: 50px;
    background: rgb(30, 255, 0);
}

